
<h1 class="text-center m-5 fs-1">Producto</h1>
<hr>

<div class="row">
    <div class="col-lg-6 ">
      
      <form [formGroup]="forma" autocomplete="off">
        
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Id. Usuario</mat-label>
          <input type="number" matInput formControlName="id_usuario">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Id. Categoria</mat-label>
          <input type="number" matInput formControlName="id_categoria">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Precio</mat-label>
          <input type="number" matInput formControlName="precio">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea matInput formControlName="desc"></textarea>
        </mat-form-field>
  
        <button *ngIf="estado == 1" mat-raised-button color="primary" (click)="agregarProducto()">Agregar</button>
        <button *ngIf="estado == 2" class="me-3" mat-raised-button color="primary" (click)="editarProducto()">Editar</button>
        <button *ngIf="estado == 2" mat-raised-button color="accent" (click)="cancelarEditar()">Cancelar</button>
      </form>
    </div>

    <div class="col-lg-6">


      
            <mat-form-field appearance="standard">
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)"  #input>
            </mat-form-field>
     
    <div class="mat-elevation-z10">
      <table mat-table [dataSource]="dataSource" class="">
          
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let producto"> {{producto.id_producto}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="idUsuario">
          <th mat-header-cell *matHeaderCellDef> Id. Usuario </th>
          <td mat-cell *matCellDef="let producto"> {{producto.id_usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="idCategoria">
          <th mat-header-cell *matHeaderCellDef> Id. Categoria </th>
          <td mat-cell *matCellDef="let producto"> {{producto.id_categoria}} </td>
        </ng-container>
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let producto"> {{producto.precio}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let producto" class="text-lg-end">
            <a   matTooltip="Editar Usuario" (click)="obtenerProducto(producto)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
              </svg>
            </a>

            <a   matTooltip="Borrar Usuario" (click)="borrarProducto(producto.id_producto)">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-off" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="3" y1="3" x2="21" y2="21" />
                <path d="M4 7h3m4 0h9" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="14" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l.077 -.923" />
                <line x1="18.384" y1="14.373" x2="19" y2="7" />
                <path d="M9 5v-1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </a>

          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="datos.length"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25]"
          aria-label="Select page">
      </mat-paginator>

    </div>
    </div>
</div>



