<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>

    <div class="example-button-row">
      <button mat-flat-button color="primary" routerLink="usuario" >Usuario</button>
      <button mat-flat-button color="primary" routerLink="categoria">Categoria</button>
      <button mat-flat-button color="primary" routerLink="producto">Producto</button>
      
    </div>
    
    
  </mat-toolbar-row>

</mat-toolbar>

<div class="container mt-4">
  
  <router-outlet></router-outlet>
</div>